{% load static %}

<footer id="contactUs" class="container-fluid mainDiv mb-0">
    <div class="textFooter jumbotron">
      <div class="smallScreen">
        <div class="contactUs text-center">
          <h1>Contact Us</h1>
          <p><i class="fas fa-map-marker"></i> Indian Institute of Technology Mandi,<br>Kamand (H.P.) - 175005</p>
          <p><i class="far fa-envelope"></i> themightyduck@gmail.com</p>
        </div>
      </div>
      <p class="text-center"><span class="git"><a href="https://github.com/tusharrao198/themighyduck"><i class="fab fa-github"></i></a></span></p>
    <p class="text-muted text-center">&#169; 2021 The Mighty Duck. All Rights Reserved</p>
    </div>
  </footer>
  <script src="main.js"></script>