{% extends 'eduapp/base.html' %} {% load static %} {% block content %}
<div class="section-bg mt-5" id="introduction">
	<div class="jumbotron">
		<h1 class="display-3 text-center">Login</h1>
		<p class="lead text-center">Quiz Administrators</p>
		<hr class="my-4">
		<p class="btn-lg"><strong>The Quiz Maker for Professionals</strong></p>
		<form class="text-center">
		  <fieldset>
		  	<div class="form-group">
		      <label for="Username">Username</label>
		      <input type="password" class="form-control" id="Username" placeholder="Username">
		    </div>
		    <div class="form-group">
		      <label for="Password">Password</label>
		      <input type="password" class="form-control" id="Password" placeholder="Password">
		    </div>
		    <button type="submit" class="btn btn-lg btn-primary mt-5"><a href="{% url 'welcome' %}">LogIn</a></button>
		  </fieldset>
		</form>
	</div>
</div>
{% endblock %}